@import "/src/styles/abstract/mixins";

.reservation-page {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  h4 {
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-below($tablet) {
    max-width: calc(100% - 40px);
  }
}
.reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  & > * {
    width: 100%;
    max-width: 400px;
  }
}
