@import "/src/styles/abstract/mixins";

.dialog-container {
  padding-bottom: 16px;
  min-width: 562px;
  @include respond-below($tablet) {
    min-width: initial;
    width: calc(100vw - 40px);
  }
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
}

.dialog-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.action-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 16px;

  @include respond-below($tablet) {
    flex-direction: column;
    width: 100%;
  }
}
