<ng-container [ngSwitch]="question.controlType" [formGroup]="form">
    <mat-form-field *ngSwitchCase="'textbox'" class="full-width mt-1" appearance="outline">
        <mat-label>{{ question.label }}</mat-label>
        <input matInput formControlName="{{ question.key }}" type="{{ question.type }}">
        <mat-hint *ngIf="!!question.hint">{{question.hint}}</mat-hint>
        <mat-error>
            {{getErrorMessage()}}
        </mat-error>
    </mat-form-field>
    <div *ngSwitchCase="'businessHour'" class="business-hour-setting mt-1">
        <h6 class="day">{{question.label}}</h6>
        <mat-form-field appearance="outline">
            <span matTextPrefix class="hour-label">From&nbsp;</span>
            <input matInput formControlName="{{ question.key+'StartingTime' }}" type="{{ question.type }}">
            <mat-error>
                {{getErrorMessage(question.key+'StartingTime')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <span matTextPrefix class="hour-label">To&nbsp;</span>
            <input matInput formControlName="{{ question.key+'EndingTime' }}" type="{{ question.type }}">
            <mat-error>
                {{getErrorMessage(question.key+'StartingTime')}}
            </mat-error>
        </mat-form-field>
    </div>
</ng-container>