<div class="container mt-5 dashboard-container">
    <header>
        <h3 class="mb-1">Welcome to Your Restaurant Management Dashboard<span class="dot">.</span>
        </h3>
        <p>Effortlessly manage your restaurant's information, menu, and reservations in one place.</p>
    </header>
    <mat-tab-group class="mt-3" [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="General Information">
            <app-dynamic-form [questions]="generalInformationQuestions"
                [form]="generalInformationForm"></app-dynamic-form>
            <div class="action-btns">
                <button mat-stroked-button type="submit" [disabled]="!generalInformationForm.touched">Cancel</button>
                <button mat-raised-button color="accent" type="submit"
                    [disabled]="generalInformationForm.invalid">Save</button>
            </div>
        </mat-tab>
        <mat-tab label="Manage Reservation">
            <app-dynamic-form [questions]="manageReservationQuestions"
                [form]="manageReservationForm"></app-dynamic-form>
            <div class="action-btns">
                <button mat-stroked-button type="submit" [disabled]="!manageReservationForm.touched">Cancel</button>
                <button mat-raised-button color="accent" type="submit"
                    [disabled]="manageReservationForm.invalid">Save</button>
            </div>
        </mat-tab>
        <mat-tab label="Manage Menu">
            <app-manage-menu></app-manage-menu>
        </mat-tab>
    </mat-tab-group>

</div>