/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
