<form [formGroup]="form" class="form">

    <ng-container *ngFor="let question of questions">

        <app-dynamic-form-field *ngIf="!question.questions;" [question]="question"
            [form]="form"></app-dynamic-form-field>

        <fieldset *ngIf="!!question.questions;">
            <h5>{{question.label}}</h5>
            <p class="comment mb-2" *ngIf="question.hint">{{question.hint}}</p>
            <app-dynamic-form-field *ngFor="let nestedQuestion of question.questions" [question]="nestedQuestion"
                [form]="getFormGroup(question.key)">
            </app-dynamic-form-field>
        </fieldset>

    </ng-container>


</form>