.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
@media only screen and (max-width: 1112px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}
.mb-1 {
  margin-bottom: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}
.mb-2 {
  margin-bottom: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}
.mb-3 {
  margin-bottom: 24px !important;
}

.mt-5 {
  margin-top: 40px !important;
}

@media screen and (max-width: 768px) {
  .md\:mt-1 {
    margin-top: 8px !important;
  }
  .md\:mb-1 {
    margin-bottom: 8px !important;
  }

  .md\:mt-2 {
    margin-top: 16px !important;
  }

  .md\:mb-2 {
    margin-bottom: 16px !important;
  }

  .md\:mt-3 {
    margin-top: 24px !important;
  }
  .md\:mb-4 {
    margin-bottom: 24px !important;
  }
}

@media only screen and (min-width: 769px) {
  .hide-desktop {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .hide-mob {
    display: none !important;
  }
}

h1 {
  font-size: 64px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
}

h2 {
  font-size: 48px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
}

h3 {
  font-size: 32px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
}

h4 {
  font-size: 24px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
}

h5 {
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
}

h6 {
  font-size: 18px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
}

.text-grey {
  color: var(--secondary);
}

.text-green {
  color: #3fb37f;
}

.text-red {
  color: #ee8380;
}
.dot {
  color: #ceaf46;
}

.comment {
  font-size: 14px;
  color: var(--secondary);
}
